body, html {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
}
#header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#nav-bar{
    position: fixed;
    overflow: hidden;
    top: 4px;
    right: 50px;
    background: #444;
    z-index: 1;
    opacity: .8;
}
#nav-bar ul{
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    flex-direction: row;
    justify-content: space-around;
}
#nav-bar ul li a{
    
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;  
    
}

#home {
    background: url('images/main.jpg') no-repeat center fixed;
    height: 100%;
    background-size: cover;
}
.brand{
    width: 50vw;
}

.brand img {
    width: 200px;
}

li {
    list-style: none;
}
ul{
    padding: 0;
}

a {
    text-decoration: none;
}
.main-view{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-info{
    width: 400px;
    padding: 30px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    background: #070857;
    opacity: 0.8;
 
}

span{
    color: #db0d0d;
    font-weight: bold;
}

.view-gallery-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.view-gallery-btn a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 6px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.1em;
}

.view-gallery-btn a:hover {
    background: #dddbdb;
    color: #000;
    border: 1px solid #444;
    opacity: 0.7;
    transition: 1s;
}

#about{
    margin: 20px;
    padding: 0 10px 0 10px;
    font-size: 18px;
    line-height: 1.5em;
}
.about-description{
    display: flex;
    justify-content: space-between;
}
#rate{
    margin: 20px 0 20px 0;
    background: #e3eeca;
    padding: 20px;
    background: url('images/door.jpg') no-repeat center fixed;
    background-size: cover;


}
#rate h2{
    margin-top: 0;
    color: #051a8f;
}
.rate-table img{
    width: 200px;
}
.rate-table{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.rate-table a{
    padding: 6px;
    border: 1px solid #fff;
    background: #caecee;
}
.rate-table h3{
    color: #3301a7;
    margin-top: 0;
    background: #fff;
    padding: 10px;
}

.card{
    background: #dddbdb;
    padding: 16px;
    border-radius: 5px;
    text-align: center;

}

#subscribe-section{
    margin-bottom: 20px;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email{
    width: 300px;
    height: 24px;
    margin-bottom: 20px;
}

#submit{
    background: #3301a7;
    color: #fff;
    padding: 6px;
    border: 1px #3301a7 solid;
}
#submit:hover{
    cursor: pointer;
    background: #4a0adf;
}

footer{
    background: #ad0505;
    color: #fff;
    padding: 4px;
    margin-bottom: 2px;
}

@media (max-width: 900px){
    .rate-table{
        flex-direction: column;
    }
    .card{
        margin-bottom: 4px;
        width: 300px;
    }
}
@media (max-width: 500px){
    .about-description{
        flex-direction: column;
    }
}